HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
/.idea/
.idea
logs/
src

### VS Code ###
.vscode/
.idea/$PROJECT_FILE$
.idea/compiler.xml
.idea/dictionaries/fTt.xml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/qaplug_profiles.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml

.idea/workspace.xml
